<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>科协网上报名</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="/static/css/base.css">
   <link rel="stylesheet" href="/static/css/demo.css">

   <!-- script
   ================================================== -->
	<script src="/static/js/modernizr.js"></script>


</head>

<body>

	<!-- header 
   ================================================== -->
   <header>
   	<div class="row">
   		<div class="col-twelve">

   			<h1>NOT FOUND 404<span>.</span></h1>

   			<p class="lead">
   			第15届科协网上报名时间已经结束，本网站现仅供管理员查看后台所用。
   			</p>

   		</div>
   	</div>   	
   </header> <!-- /header -->


  	<!-- main content
   ================================================== -->
   <main>
   	<div class="row">
   		<div class="block-1-3 block-s-1-2 block-mob-full">
   			<div class="bgrid">
   				<a href="/admin">
   					<div class="image-part">
   						<img src="/static/img/admin.jpg" alt="">
   						<div class="overlay"></div>
   						<div class="link-icon"><i class="fa fa-plus"></i></div>
   					</div>
   					<div class="demo-title">
   						<h3>管理员登录入口</h3>
   					</div>
   				</a>
   			</div>

   			<div class="bgrid">
   				<a href="https://jq.qq.com/?_wv=1027&k=4Epgp6B">
   					<div class="image-part">
   						<img src="/static/img/qq.jpg" alt="">
   						<div class="overlay"></div>
   						<div class="link-icon"><i class="fa fa-plus"></i></div>
   					</div>
   					<div class="demo-title">
   						<h3>还没有加迎新群？请点击我</h3>
   					</div>
   				</a>
   			</div>

   			<div class="bgrid">
   				<a href="https://baike.baidu.com/item/%E6%B9%96%E5%8D%97%E7%A7%91%E6%8A%80%E5%A4%A7%E5%AD%A6%E8%AE%A1%E7%AE%97%E6%9C%BA%E5%AD%A6%E9%99%A2%E7%A7%91%E5%AD%A6%E6%8A%80%E6%9C%AF%E5%8D%8F%E4%BC%9A">
   					<div class="image-part">
   						<img src="/static/img/kx.jpg" alt="">
   						<div class="overlay"></div>
   						<div class="link-icon"><i class="fa fa-plus"></i></div>
   					</div>
   					<div class="demo-title">
   						<h3>关于科协</h3>
   					</div>
   				</a>
   			</div>
   		</div>
   	</div>   
   </main> <!-- /main -->

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="/static/js/jquery-2.1.3.min.js"></script>
   <script src="/static/js/main.js"></script>

</body>

</html>