<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="/static/s-forms.css">
		<title>15届科协网上报名</title>
		{% if message %}
		<script type="text/javascript">
  			alert("您的信息已经成功录入，请勿重复提交信息。");
			if (confirm("是否加入15届科协迎新群？")) {
				window.location.href="https://jq.qq.com/?_wv=1027&k=4Epgp6B";
    }
		</script>
		{% endif %}
	</head>
	<body>
		<div class="container">
	    <form action="" method="POST" id="s-form" class="s-form">
   				{% csrf_token %}     <!-- 安全性 -->
				<header>
					<p class="topic">15届科协网上报名</p>
                    <p class="descri">请认真填写好每一项，本网站不会透露任何信息</p>
				</header>
				
				<fieldset>
					<section>
						<label class="input">
							<i class="icon-append "></i>
							{{form.name}}
							<b class="tooltip tooltip-bottom-right">请输入您的姓名</b>
						</label>
					</section>

					<section>
						<label class="select">
							{{form.major}}
							<i></i>
						</label>
					</section>

					<section>
						<label class="input">
							<i class="icon-append "></i>
							{{form.phone_num}}
							<b class="tooltip tooltip-bottom-right">请输入您的电话</b>
						</label>
					</section>

					<section>
						<label class="input">
							<i class="icon-append "></i>
							{{form.email}}
							<b class="tooltip tooltip-bottom-right">请输入邮箱地址</b>
						</label>
					</section>

					<section>
						<label class="input">
							<i class="icon-append "></i>
							{{form.qq}}
							<b class="tooltip tooltip-bottom-right">请输入您的QQ号</b>
						</label>
					</section>

				</fieldset>

				<fieldset>

					<section>
						<label class="select">
							{{form.first_choice}}
							<i></i>
						</label>
					</section>

					<section>
						<label class="select">
							{{form.second_choice}}
							<i></i>
						</label>
					</section>

				</fieldset>
				<fieldset>
					{{form.recognize}}
				</fieldset>
				<fieldset>
					{{form.introduction}}
				</fieldset>
				<footer>
					<button type="reset" class="button">重置</button>
					<button type="submit" class="button">提交</button>
				</footer>
			</form>			
		</div>
		
	</body>
</html>
